.headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE6CF; }

.logoImg {
  width: 13%; }

.logoImg:hover {
  cursor: pointer; }

.naviList {
  display: flex;
  list-style: none;
  padding: 0;
  list-style: none; }

.naviButtom {
  padding: 0.3em 1em;
  border-radius: 10px;
  background-color: white;
  margin-left: 0px;
  margin-right: 30px;
  font: italic 1.5em "Hi Melody";
  color: #FFBB7C;
  border: 1px solid #FFBB7C;
  opacity: 1; }

.naviButtom:hover {
  background-color: #FFBB7C;
  color: white;
  cursor: pointer; }

footer {
  position: fixed;
  bottom: 0;
  padding: 3vh; }

.homeWrap {
  display: block;
  height: 80vh;
  width: 167vh;
  position: absolute;
  right: 0;
  z-index: 1; }

.homeWrap::after {
  height: 80vh;
  width: 167vh;
  content: "";
  background-image: url(./img/mainimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5; }

.buttonWrap {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between; }

.logButtonWrap {
  display: flex;
  height: 35vh;
  width: 30vh;
  border-radius: 25% 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Hi Melody', cursive;
  font-size: 3vh;
  margin-left: 15vh; }

.homeBtu {
  display: block;
  width: 18vh;
  height: 5vh;
  border-radius: 20%;
  line-height: 5vh;
  border: 2px #D6B2B2 solid;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  color: #333;
  transition: all 0.6s; }

.hoverBtu:hover {
  box-shadow: 16vh 0 0 0 #D6B2B2 inset;
  border: 2px #D6B2B2 solid;
  color: white; }

.advButtonWrap {
  display: flex;
  height: 35vh;
  width: 30vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Hi Melody', cursive;
  font-size: 3vh;
  margin-right: 50vh; }

.advBtu {
  width: 70vh;
  height: 4vh;
  border: 2px #D6B2B2 solid;
  background-color: #D6B2B2;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: all 0.6s;
  font-weight: bold;
  border-radius: 30% 10%; }

.advBtu:hover {
  box-shadow: 70vh 0 0 0 whitesmoke inset;
  border: 2px whitesmoke solid;
  color: black; }

.homeLogoImg {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 2vh;
  left: 60vh; }

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3; }

.signInWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 45vh;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 13% auto;
  padding: 20px;
  background: #fff;
  align-items: center;
  border-radius: 10%; }

.signInbutton {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.signInChoiseWrap {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.permission {
  width: calc(100%/3);
  height: 5vh;
  border-bottom: 3px solid #D6B2B2;
  line-height: 5.5vh;
  font-size: 2vh;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease; }

.permission:hover {
  opacity: 0.75; }

input[name="permission"] {
  display: none; }

.signInChoiseWrap input:checked + .permission {
  background-color: #D6B2B2;
  color: #fff; }

.loginBtn {
  display: block;
  width: 10vh;
  height: 5vh;
  border-radius: 5%;
  line-height: 5vh;
  border: 2px #D6B2B2 solid;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  color: #333;
  transition: all 0.6s; }

.loginBtn:hover {
  box-shadow: 11vh 0 0 0 #D6B2B2 inset;
  border: 2px #D6B2B2 solid;
  color: white; }

.loginText {
  color: #535353; }

.signInInputWrap input {
  width: 30vh;
  margin-bottom: 1vh;
  font-size: 1.8vh; }

.signUpWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 45vh;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 10% auto;
  padding: 20px;
  background: #fff;
  align-items: center;
  border-radius: 10%; }

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em; }

.star-rating input {
  display: none; }

.star-rating label {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer; }

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold; }

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c; }

.reviewItemWrap {
  display: flex;
  width: 160px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 0.5vh #D6B2B2 solid;
  margin: 1vh;
  padding-top: 10px;
  border-radius: 2vh 2vh 5vh 2vh;
  box-shadow: 0.3vh 0.3vh 0.5vh 0.3vh #a78a8abe; }
  .reviewItemWrap .userName {
    font-size: 2vh;
    font-weight: bold; }

.reviewItemWrap:hover {
  background-color: #d8bdbd3b; }

.reviewStars {
  width: 146.7px; }

.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29; }

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: relative;
  top: 14px;
  z-index: 1;
  display: flex;
  overflow: hidden;
  -webkit-text-fill-color: gold;
  font-size: 1.5rem;
  margin-left: 12px; }

.star-ratings-base {
  z-index: 0;
  padding: 0;
  position: relative;
  bottom: 14px;
  font-size: 1.5rem;
  margin-left: 12px; }

.reviewModalComment {
  white-space: pre-line;
  border: 0.3vh solid #D6B2B2;
  padding: 2.5vh 1vh;
  border-radius: 1vh;
  width: 25vh; }

.showMore {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  font-size: 13px; }

.reviewList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-inline-start: 0%;
  margin: 3vh 3vh; }

.reviewWrap {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 40vh;
  position: relative;
  box-sizing: border-box;
  margin: 13% auto;
  padding: 20px;
  background: #fff;
  border-radius: 10%;
  align-items: center;
  justify-content: space-around; }

.reviewModalBtn {
  border: 2px solid #D6B2B2;
  background-color: white;
  border-radius: 0.7vh;
  margin: 2vh 1vh 2vh 1vh;
  padding: 0.5vh 2.5vh;
  font-size: 2vh; }

.reviewModalBtn:hover {
  background-color: #D6B2B2;
  color: white;
  cursor: pointer; }

.reviewModalText {
  width: 15vw;
  height: 5vh;
  border: 0.3vh #D6B2B2 solid;
  margin-top: 2vh;
  border-radius: 1vh;
  padding: 2.5vh 1vh;
  outline: none;
  resize: none; }

.reviewBtu {
  display: flex; }

.star-ratings-fill-modal {
  color: #fff58c;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  -webkit-text-fill-color: gold;
  font-size: 2.3rem; }

.star-ratings-base-modal {
  z-index: 0;
  padding: 0;
  position: relative;
  bottom: 44px;
  font-size: 2.3rem; }

.reviewStarsModal {
  height: 5vh;
  margin-bottom: 2vh; }

.mypageWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh; }

.mypageProfileWrap {
  display: flex;
  width: 100%;
  height: 35vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 0.5vh #FFBB7C solid;
  padding: 2vh 0;
  border-radius: 2vh; }

.mypageMenuWrap {
  display: flex;
  margin-top: 1vh;
  height: 40vh;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.mypageProfile {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profileImg {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  border: 1vh #D6B2B2 solid;
  background-color: white; }

.mypageHistoryWrap {
  width: 70%; }

.userInfoWrap {
  display: flex;
  justify-content: space-around; }

.mypageInfoName {
  padding: 1vh;
  margin: 0.5vh;
  width: 30vh;
  font-size: 2vh;
  font-weight: bold; }

.mypageInfo {
  padding: 3px;
  width: 30vh;
  font-weight: bold; }

.userHistory {
  height: 13vh;
  border: 2px black solid;
  width: 67vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  white-space: pre; }

.mypageNav {
  width: 100%;
  padding: 1vh 0vh 0vh 0vh; }

.mypageBtu {
  padding: 5px; }

.mypageMenu {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  width: 100vh;
  border: 0.5vh #FFBB7C solid; }

.userHistoryText {
  height: 13vh;
  width: 70vh;
  border: none;
  outline: none;
  resize: none; }

.mypageBtu {
  border: 2px solid #FFBB7C;
  background-color: white;
  border-radius: 0.7vh;
  margin: 2vh 2vh 0vh 0vh;
  padding: 0.5vh 2.5vh;
  font-size: 2vh; }

.mypageBtu:hover {
  background-color: #FFBB7C;
  color: white;
  cursor: pointer; }

.delete:hover {
  background-color: #ff6262; }

.inputWrap {
  display: flex;
  align-items: center; }

.inputWrap input {
  width: 20vh; }

.userHistoryWrap {
  height: 10vh;
  border: 2px black solid;
  width: 67vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  white-space: pre; }

.mypageInfoNameEdit {
  padding: 1vh;
  margin: 0.5vh;
  width: 12vh;
  text-align: center;
  font-size: 2vh;
  font-weight: bold; }

.mypageTab {
  width: calc(100%/3);
  height: 5vh;
  line-height: 5.5vh;
  font-size: 2vh;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease; }

.mypageTab:hover {
  opacity: 0.75; }

input[name="mypageTab"] {
  display: none; }

.mypageNav input:checked + .mypageTab {
  background-color: #FFBB7C;
  color: #fff; }

.Listhead {
  border-radius: 5px;
  width: 72.8em;
  height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  font: italic 1.1em "Hi Melody";
  margin-top: -1px;
  margin-bottom: 0px; }

.col1 {
  width: 20%;
  border: 2px solid #FFBB7C; }

.col2 {
  width: 50%;
  border: 2px solid #FFBB7C; }

.col3 {
  width: 25%;
  border: 2px solid #FFBB7C; }

.col4 {
  width: 15%;
  border: 2px solid #FFBB7C; }

.advList {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #FFBB7C;
  border-radius: 5px;
  margin-top: 5px; }

.Listele {
  height: 3em;
  font: italic 1.1em "Hi Melody";
  display: flex;
  border-bottom: 1px dotted #FFBB7C; }

.Listele:hover {
  background-color: #FFE6CF;
  opacity: 0.5; }

.Advele {
  text-align: center;
  margin: auto; }

.advTitle {
  text-decoration-line: none;
  color: black; }

.advcol1 {
  width: 20%; }

.advcol2 {
  width: 50%; }

.advcol3 {
  width: 25%; }

.advcol4 {
  width: 15%; }

.writeButtonArray {
  margin-top: 30px;
  height: 30px;
  width: 900px; }

.advwritebtn {
  font: italic 1.1em "Hi Melody";
  background-color: #FFBB7C;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  font-size: 1.2em;
  margin-left: 10px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none; }

.advwritebtn {
  background: #FFBB7C;
  color: white;
  border-radius: 3px; }

.advwritebtn:before, .advwritebtn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #FFBB7C;
  transition: 400ms ease all; }

.advwritebtn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0; }

.advwritebtn:hover:before, .advwritebtn:hover:after {
  width: 100%;
  transition: 800ms ease all;
  font-size: 1.0em; }

.searchBar {
  width: 40%;
  display: flex;
  flex-direction: row; }

.searchBtn {
  font: italic 1.5em "Hi Melody";
  margin-left: 20px;
  border: 1px solid #FFBB7C;
  background-color: #FFBB7C;
  color: white;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
  font-size: 20px;
  border: none;
  border-radius: 3px; }

.searchBtn:hover {
  font-size: 20px;
  color: #FFBB7C; }

.searchBtn:active {
  font-size: 15px;
  color: #FFBB7C;
  box-shadow: none; }

.advAndsubmit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60em;
  height: 70em; }

.submitbtn {
  background-color: #FFBB7C;
  height: 3em;
  width: 5em;
  margin-top: 2em;
  align-items: flex-start;
  font-size: 1.5em; }

.submitbtn:hover {
  height: 3em;
  width: 5em;
  margin-top: 2em;
  align-items: flex-start;
  font-size: 1.5em; }

.advertiseWrite {
  margin: 0px 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45em;
  height: 70em; }

.PostTitle {
  margin-top: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center; }

.InputTitle {
  height: 2em;
  width: 40em;
  margin-left: 6.3em; }

.PostContent {
  margin-top: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center; }

.InputContent {
  margin-left: 2.9em;
  width: 40em;
  height: 10em; }

.advSkill {
  margin-top: 1em;
  width: 30em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: row; }

.selectSkill {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: black solid 0.1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1.1em;
  width: 22.4em; }

.skillName {
  margin-left: 5em;
  height: 2em;
  width: 15em;
  text-align: center; }

.Quantity {
  margin-right: 3em;
  margin-left: 5em;
  width: 5em;
  height: 1.5em;
  text-align: center;
  font-size: 0.6em; }

.skill_quntity {
  margin-right: 1em;
  width: 20em;
  height: 1.5em; }

.skillPlus {
  width: 0.5em;
  height: 1em;
  margin-top: -0.3em; }

.time_Select {
  margin-top: 3em;
  display: flex;
  align-items: center;
  flex-direction: row; }

.timeTitle {
  font-size: 1.5em;
  width: 7em;
  margin-right: 2.4em; }

.atSelect {
  margin-bottom: 1em;
  height: 2em;
  display: flex;
  align-items: center;
  flex-direction: row; }

.untillSelect {
  height: 2em;
  display: flex;
  align-items: center;
  flex-direction: row; }

.advLocation {
  margin-top: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: column; }

.advLocationTit {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 30em; }

.inputAddress {
  width: 10em;
  height: 2em;
  margin-left: 6.5em; }

.inputAddressbtn {
  margin-left: 2em;
  width: 5%; }

.emptyMap {
  width: 10em; }

.inputMap {
  width: 25em;
  margin-left: 7.3em;
  height: 12em;
  border: 1px solid #000; }

.advViewTable {
  table-layout: fixed; }

.advViewTable .col1 {
  width: 50%;
  border: none; }

.advViewTable .col2 {
  width: 20%;
  border: none; }

.advViewbtn button {
  float: right;
  margin: 0 0.3em;
  background-color: #000;
  color: white;
  font-weight: bold;
  width: 6em;
  border: none;
  padding: 0.3em 0.6em; }

.advViewbtn button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: 1px solid #000; }

.advView {
  margin: 0px 20px;
  padding: 10px 20px;
  width: 50em; }

.advMap {
  margin: auto;
  padding-bottom: 20px; }

.advMap .location {
  width: 49em;
  height: 50vh;
  margin: 0 auto;
  border: 1px solid #000;
  z-index: 0; }

.join button {
  background-color: #036;
  color: white; }

.join button:hover {
  background-color: #FFF;
  color: #036;
  font-weight: bold; }

.App {
  height: 90vh; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.body {
  display: flex;
  justify-content: center;
  margin-top: 10vh; }

section {
  position: relative;
  width: 100%;
  height: 100vh; }

footer {
  position: relative; }

body {
  margin-top: 10vh; }

.advertise {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80em;
  padding: 10px 20px; }

Table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
  word-break: break-all; }

Table thead {
  height: 30px;
  color: #036;
  font-weight: bold;
  border-bottom: 3px solid #036; }

Table tr td {
  font-size: 14px;
  padding: 0px 30px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid #ccc; }

.advwritebtn {
  height: 3em;
  width: 5em;
  margin-top: 3em;
  align-items: flex-start; }

.filter {
  margin-left: 100px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  width: 75%;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px; }

.filter ul li {
  display: inline-block;
  padding-left: 10px; }

.advertiseWrite {
  margin: 0px 20px;
  padding: 10px 20px; }

.advWriteTable {
  margin-bottom: 4rem; }

.btn {
  color: #444;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  cursor: pointer; }

button {
  cursor: pointer;
  background-color: #036;
  color: white;
  width: 7rem;
  font-size: 1rem;
  font-weight: bold; }

button:hover {
  background-color: #fff;
  color: #036;
  font-size: 1.1rem;
  font-weight: bold; }

textarea {
  width: 90%;
  height: 10vh; }

input {
  width: 90%;
  height: 3vh; }

.advMapFilter {
  width: 100%; }

.advMapFilter_location {
  float: left;
  width: 65%;
  height: 70vh;
  border: 1px solid #000; }

.advMapFilter_view {
  float: left;
  margin-left: 20px;
  width: 32%;
  height: 70vh; }

.pagination {
  text-align: center; }

.pagination ul {
  display: inline-block;
  text-align: center;
  padding: 1px; }

.pagination ul li {
  float: left;
  list-style: none;
  font-size: 17px;
  padding: 5px;
  width: 25px; }

.pagination ul li:hover {
  cursor: pointer;
  color: white;
  background-color: #036; }

.pagination ul li:active {
  color: white;
  background-color: #036; }

.inputAddress {
  width: 30em;
  height: 2em; }

.inputAddressbtn {
  background-color: #444;
  border: none;
  width: 5em; }
