.headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logoImg {
  width: 13%; }

.naviList {
  display: flex;
  list-style: none;
  padding: 0;
  list-style: none; }

.naviButtom {
  padding: 1vh 2.5vh; }

footer {
  position: fixed;
  bottom: 0;
  padding: 3vh; }

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.signInWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 400px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 17% auto;
  padding: 20px;
  background: #fff;
  align-items: center; }

.signInbutton {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.signInChoiseWrap {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.socialLoginNone {
  display: none; }

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em; }

.star-rating input {
  display: none; }

.star-rating label {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer; }

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold; }

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c; }

.reviewItemWrap {
  display: flex;
  width: 160px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  margin: 5px; }

.reviewStars {
  width: 146.7px; }

.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29; }

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
  -webkit-text-fill-color: gold;
  font-size: 1.5rem;
  margin-left: 12px; }

.star-ratings-base {
  z-index: 0;
  padding: 0;
  font-size: 1.5rem;
  margin-left: 12px; }

.mypageWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh; }

.mypageProfileWrap {
  display: flex;
  width: 100%;
  height: 30vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.mypageMenuWrap {
  display: flex;
  height: 40vh;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.mypageProfile {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profileImg {
  height: 15vh;
  width: 15vh;
  border-radius: 100%; }

.mypageHistoryWrap {
  width: 70%; }

.userInfoWrap {
  display: flex;
  justify-content: space-around; }

.mypageInfoName {
  padding: 3px;
  width: 30vh; }

.mypageInfo {
  padding: 3px;
  width: 30vh;
  font-weight: bold; }

.userHistory {
  height: 15vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px; }

.mypageNav {
  width: 95%;
  padding: 10px; }

.mypageBtu {
  padding: 5px; }

.mypageMenu {
  height: 100%;
  width: 100%; }

.App {
  height: 100vh; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.body {
  margin-top: 10vh; }

section {
  position: relative;
  width: 100%;
  height: 100vh; }
