.headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logoImg {
  width: 13%; }

.naviList {
  display: flex;
  list-style: none;
  padding: 0;
  list-style: none; }

.naviButtom {
  padding: 1vh 2.5vh; }

footer {
  position: fixed;
  bottom: 0;
  padding: 3vh; }

.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2; }

.signInWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 400px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 17% auto;
  padding: 20px;
  background: #fff;
  align-items: center; }

.signInbutton {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.signInChoiseWrap {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.socialLoginNone {
  display: none; }

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em; }

.star-rating input {
  display: none; }

.star-rating label {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer; }

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold; }

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c; }

.reviewItemWrap {
  display: flex;
  width: 160px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  margin: 5px;
  padding-top: 10px; }

.reviewStars {
  width: 146.7px; }

.star-ratings {
  color: #aaa9a9;
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29; }

.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: relative;
  top: 14px;
  z-index: 1;
  display: flex;
  overflow: hidden;
  -webkit-text-fill-color: gold;
  font-size: 1.5rem;
  margin-left: 12px; }

.star-ratings-base {
  z-index: 0;
  padding: 0;
  position: relative;
  bottom: 14px;
  font-size: 1.5rem;
  margin-left: 12px; }

.reviewComment {
  white-space: pre-line; }

.showMore {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  font-size: 13px; }

.reviewList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between; }

.mypageWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh; }

.mypageProfileWrap {
  display: flex;
  width: 100%;
  height: 30vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.mypageMenuWrap {
  display: flex;
  height: 40vh;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.mypageProfile {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.profileImg {
  height: 15vh;
  width: 15vh;
  border-radius: 100%; }

.mypageHistoryWrap {
  width: 70%; }

.userInfoWrap {
  display: flex;
  justify-content: space-around; }

.mypageInfoName {
  padding: 3px;
  width: 30vh; }

.mypageInfo {
  padding: 3px;
  width: 30vh;
  font-weight: bold; }

.userHistory {
  height: 15vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px; }

.mypageNav {
  width: 95%;
  padding: 10px; }

.mypageBtu {
  padding: 5px; }

.mypageMenu {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  width: 100vh; }

.App {
  height: 100vh; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.body {
  margin-top: 10vh; }

section {
  position: relative;
  width: 100%;
  height: 100vh; }

footer {
  margin-top: 30px; }

body {
  margin-top: 10vh; }

Table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  word-break: break-all; }

Table thead {
  height: 30px;
  color: #036;
  font-weight: bold;
  border-bottom: 3px solid #036; }

Table tr td {
  font-size: 14px;
  padding: 0px 30px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid #ccc; }

.advViewTable {
  table-layout: fixed; }

.advViewTable .col1 {
  width: 50%; }

.advViewbtn button {
  float: right;
  margin: 0 5px;
  background-color: #000;
  outline: 0; }

.advwritebtn {
  float: right; }

.advertise {
  margin: 0px 20px;
  padding: 10px 20px; }

.advListTable tr:hover {
  background-color: #eee; }

.filter {
  width: 70rem; }

.filter ul li {
  display: inline-block;
  padding-left: 10px; }

.advView {
  margin: 0px 20px;
  padding: 10px 20px; }

.advertiseWrite {
  margin: 0px 20px;
  padding: 10px 20px; }

.advWriteTable {
  margin-bottom: 4rem; }

.btn {
  color: #444;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  cursor: pointer; }

button {
  cursor: pointer;
  background-color: #036;
  color: white;
  width: 7rem;
  font-size: 1rem;
  font-weight: bold; }

button:hover {
  background-color: #fff;
  color: #036;
  font-size: 1.1rem;
  font-weight: bold; }

textarea {
  width: 90%;
  height: 10vh; }

input {
  width: 90%;
  height: 3vh; }

.advMap {
  width: 90vw;
  margin: auto;
  padding-bottom: 20px; }

.advMap .location {
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
  border: 1px solid #000; }

.advMapFilter {
  width: 100%; }

.advMapFilter_location {
  float: left;
  width: 65%;
  height: 70vh;
  border: 1px solid #000; }

.advMapFilter_view {
  float: left;
  margin-left: 20px;
  width: 32%;
  height: 70vh; }

.pagination {
  text-align: center; }

.pagination ul {
  display: inline-block;
  text-align: center;
  padding: 1px; }

.pagination ul li {
  float: left;
  list-style: none;
  font-size: 17px;
  padding: 5px;
  width: 25px; }

.pagination ul li:hover {
  cursor: pointer;
  color: white;
  background-color: #036; }

.pagination ul li:active {
  color: white;
  background-color: #036; }

.inputAddress {
  width: 70%; }

.inputAddressbtn {
  margin-left: 20px;
  width: 10%; }

.inputMap {
  width: 90%;
  margin: 10px auto;
  height: 300px;
  border: 1px solid #000; }
