.modalBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.signInWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 400px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 17% auto;
  padding: 20px;
  background: #fff; 
  align-items: center;
}

.signInbutton {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.signInChoiseWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.socialLoginNone {
  display: none;
}
