@import "MainPage";
@import "SignModal";
@import "Review";
@import "Mypage";

.App{
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.body {
    margin-top: 10vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

footer {
    margin-top: 30px;
}


body {
    margin-top: 10vh;
}

.advertise{
    
}


Table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    word-break: break-all;
}
Table thead {

    height: 30px;
    color: #036;
    font-weight: bold;
    border-bottom: 3px solid #036;
    
    
    
}

Table tr td{
    font-size: 14px;
    padding: 0px 30px;
    height: 35px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}


.advViewTable {
    table-layout: fixed;
}

.advViewTable .col1 {
    width: 50%;
}

.advViewbtn button {
    float: right;
    margin: 0 5px;
    background-color: #000;
    outline: 0;
    
}

.advwritebtn {
    float: right;
}


.advertise{
    margin: 0px 20px;
    padding: 10px 20px;
}

.advListTable tr:hover {
    background-color: #eee;
}

.filter {
    width:70rem;
    
    
}

.filter ul li {
    display: inline-block;
    padding-left: 10px;
}

.advView{
    margin: 0px 20px;
    padding: 10px 20px;
}


.advertiseWrite {
    margin: 0px 20px;
    padding: 10px 20px;
    
}

.advWriteTable {
    margin-bottom: 4rem;
}









.btn {
    color: #444;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}


button {
    cursor: pointer;
    background-color: #036;
    color: white;
    width:7rem;
    font-size: 1rem;
    font-weight: bold;
}


button:hover {
    background-color: #fff;
    color: #036;
    font-size: 1.1rem;
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 10vh;
}

input {
    width:90%;
    height: 3vh;
}


.advMap {
    width:90vw;
    margin: auto;
    padding-bottom: 20px;

}
.advMap .location{
    width:90vw;
    height:50vh;
    margin: 0 auto;
    border: 1px solid #000;
}



.advMapFilter{
    
    width:100%;


}
.advMapFilter_location {
    float: left;
    width:65%;
    height:70vh;
    border: 1px solid #000;

}
.advMapFilter_view{
    float: left;
    margin-left: 20px;
    width:32%;
    height:70vh;
    
}




.pagination {
    
    text-align:center;
}
.pagination ul {
  display:inline-block;
  
  text-align: center;
  padding: 1px;

  
}

.pagination ul li {
    float: left;
    list-style: none;
    font-size: 17px;
    padding: 5px;
    width: 25px;
    
    
}

.pagination ul li:hover {
    cursor: pointer;
    color: white;
    background-color: #036;

}

.pagination ul li:active {
    color: white;
    background-color: #036;
}

.inputAddress {
    width:70%;
    
}
.inputAddressbtn {
    margin-left: 20px;
    width:10%
}


.inputMap {
    width:90%;
    margin:10px auto;
    height:300px;
    border: 1px solid #000;
    
}