@import "MainPage";
@import "SignModal";
@import "Review";
@import "Mypage";
@import "AdvertPage";
@import "AdvertWrite";
@import "AdvertView";
@import "AdvertModal";

.App{
    height: 90vh;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.body {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
    min-height:100%;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

footer {
  height: 10vh;
  position : relative;
  transform : translateY(-100%);
}


body {
    margin-top: 10vh;
}

.advertise{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:80em;
    padding: 10px 20px;
}


Table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
    word-break: break-all;
}
Table thead {
    height: 30px;
    color: #036;
    font-weight: bold;
    border-bottom: 3px solid #036;
}

Table tr td{
    font-size: 14px;
    padding: 0px 30px;
    height: 35px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}




.advViewbtn button {
    float: right;
    margin: 0 5px;
    background-color: #000;
    outline: 0;
    
}

.advwritebtn {
    height:3em;
    width: 5em;
    margin-top: 3em;
    align-items: flex-start;
}


.filter { 
    margin-left:100px ;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    width:75%;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    
}

.filter ul li {
    display: inline-block;
    padding-left: 10px;
}




.advertiseWrite {
    margin: 0px 20px;
    padding: 10px 20px;
    
}

.advWriteTable {
    margin-bottom: 4rem;
}









.btn {
    color: #444;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}


button {
    cursor: pointer;
//     background-color: #036;
//     color: white;
//     width:7rem;
//     font-size: 1rem;
//     font-weight: bold;
}


// button:hover {
//     background-color: #fff;
//     color: #036;
//     font-size: 1.1rem;
//     font-weight: bold;
// }

textarea {
    width: 90%;
    height: 10vh;
}

input {
    width:90%;
    height: 3vh;
}

.advMapFilter{
    
    width:100%;


}
.advMapFilter_location {
    float: left;
    width:65%;
    height:70vh;
    border: 1px solid #000;

}
.advMapFilter_view{
    float: left;
    margin-left: 20px;
    width:32%;
    height:70vh;
    
}




.pagination {
    
    text-align:center;
}
.pagination ul {
  display:inline-block;
  
  text-align: center;
  padding: 1px;

  
}

.pagination ul li {
    float: left;
    list-style: none;
    font-size: 17px;
    padding: 5px;
    width: 25px;
    
    
}

.pagination ul li:hover {
    cursor: pointer;
    color: white;
    background-color: #036;

}

.pagination ul li:active {
    color: white;
    background-color: #036;
}
